<div class="footer-display">
<div class="social-media-links">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
</div>

<div class="company-name">
    <p style="margin-bottom: 0px;"> &copy; Wanderlust Private Limited</p>
</div>
<div class="links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
</div>
</div>