<% layout("/layouts/signup") %>

<div class="formm mt-5 " >
    <div class="container">

       

            <div class="row-title">
            <div class="title"><span>SignUp on Wanderlust</span></div>
        </div>

        <form method="post" action="#" class="needs-validation" novalidate>
            <div class="row mb-4">
                <i class="fa-solid fa-user "></i>
                <input type="text" placeholder="Username" required id="username" class="form-control" name="username">
            </div>
            <div class="row mb-4">
                <i class="fa-solid fa-user "></i>
                <input type="email" placeholder="Enter e-mail" required id="email" class="form-control" name="email">
            </div>
            <div class="row">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Enter your password" required id="password" class="form-control" name="password">
            </div>
            <div class="forget m-2"><a href="#">Forget password?</a></div>
            
            <div class="row-button" >
                <button>Signup</button>
            </div>
            
           
           

         
            <div class="signup">
                <span>Are You a member</span>
                <a href="#">Login now</a></div>
       
        </form>
    </div>
</div>